* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.dashboard {
    padding-top: 70px;
}

.Sidebar {
    /* width: 30%; */
    padding: 15px;
}

.toggle-checkbox:checked {
    right: 0;
    border-color: #68D391;
}

.toggle-checkbox:checked+.toggle-label {
    background-color: #68D391;
}

/* .nav-with-content {
    width: 70%;
} */